.message-input-container {
    display: flex;
    align-items: center;
    background-color: #6f8e59; /* Dark background */
    padding: 10px;
    max-width: 100%; /* You can adjust the width as needed */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
  }

  .message-input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #FFFFFF; /* White text for contrast */
    font-size: 14px;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    padding:10px; /* Space between input and left icon */
  }
  /* Send button */
.send-button {
    background-color: #0084ff; /* Blue background */
    border: none;
    padding: 10px 15px;
    border-radius: 50%; /* Circle button */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px; /* Space between input and button */
    transition: background-color 0.3s ease; /* Smooth color change on hover */
  }
  
  /* Send button hover effect */
  .send-button:hover {
    background-color: #006bbd; /* Darker blue on hover */
  }
  
  /* Send icon inside the button */
  .send-button .send-icon {
    font-size: 16px;
    color: white; /* Icon color */
  }
  
  /* Optional: style for FontAwesome icon if used */
  .send-button i {
    font-size: 20px; /* Adjust size for font-based icons */
    color: white;
  }